.content {
	float: right;
	width: 650px;
	min-height: 500px;
	background-color: #EFF3F7;
	padding-bottom: 20px;
	border-radius: 6px;
}
.header_by_content{
	height: 70px;
	margin-bottom: 20px;
}
.form {
	width: 500px;
	margin: auto;
}
.button_send, .button_clear {
	height: 40px;
	border-radius: 6px;
	background-color:  #3ba8c0;
	width: 170px;
	color: #ffffff;
	font-family: "Fira Sans";
	font-size: 21px;
	border:none;
	
} 
.button_send:hover, .button_clear:hover {
	background-color: #48cbe8;
}
.button_send:active, .button_clear:active {
	border-top: 4px solid #3ba8c0;
}
.button_send {
	float: left;
}
.button_clear {
	float: right;
}
.box_for_input_name {
	display: inline-block;
	float: left;
}
.box_for_input_email {
	display: inline-block;
	float: right;
}
.input_label {
	display: block;
	margin-bottom: 7px;
	font-size: 22px;
	font-family: "Fira Sans";
	color: #959aa8;


}
#input_name, #input_email, #text_message, #input_capcha{
	height: 30px;
	width: 200px;
	border: 3px solid #3ba8c0;
	border-radius: 5px;

}
.box_for_input_message {
	display: inline-block;
}
#text_message {
	max-width: 492px;
	width: 492px;
	min-height: 185px;
}
.box_for_input_name, .box_for_input_email, .box_for_input_message, .box_by_button {
	margin-top: 10px;
	margin-bottom: 10px;
}
.code_capcha {
	float: left;
	width: 150px;
	height: 87px;
	border: 3px solid #3ba8c0;
	border-radius: 5px;
}
#input_capcha {
	float: right;
	margin-top: 24px;
}
.box_by_button {
	margin-top: 20px;
}
