.content {
	float: right;
	width: 650px;
	min-height: 500px;
	background-color: #EFF3F7;
	padding-bottom: 20px;
	margin-bottom: 30px;
	border-radius: 6px;
}
.header_by_content{
	height: 140px;
	margin-bottom: 20px;
	background-image: -webkit-linear-gradient(top, #48cbe8 0%, #48cbe8 86%, #67dffa 87%,#67dffa 100%);
	position: relative;
	border-radius: 6px 6px 0px 0px;
}
.string-by-header_form {
	font-size: 27px;
	font-weight: 400;
	color: rgb(255, 255, 255);
	content: "";
	position: absolute;
	left: 50%;
	top: 43%;
	text-align: center;
	min-width: 600px;
	transform: translateY(-43%) translateX(-50%);
}
.form {
	width: 436px;
	margin: auto;
}
.button_send{
	height: 31px;
	border-radius: 5px;
	background-color: rgb(72, 203, 232);
	width: 170px;
	color: #ffffff;
	font-family: "Fira Sans";
	font-size: 21px;
	border:none;
	border-bottom: 2px solid rgb(59, 168, 192);
} 
.button_clear {
	height: 31px;
	border-radius: 5px;
	background-color: rgb(132, 157, 181);
	width: 170px;
	color: #ffffff;
	font-family: "Fira Sans";
	font-size: 21px;
	border:none;
	border-bottom: 2px solid rgb(104, 123, 143);
}
.button_send:hover, .button_clear:hover {
	border-bottom: none;
}
.button_send:active  {
	border-top: 2px solid rgb(59, 168, 192);
}
.button_clear:active {
	border-top: 2px solid rgb(104, 123, 143);
}
.button_send {
	float: left;
}
.button_clear {
	float: right;
}
.box_for_input_name {
	display: inline-block;
	float: left;
}
.box_for_input_email {
	display: inline-block;
	float: right;
}
.input_label {
	display: block;
	margin-bottom: 7px;
	font-size: 19px;
	font-family: "Fira Sans";
	color: rgb(149, 154, 168);


}
#input_name, #input_email, #text_message, #input_capcha{
	height: 22px;
	width: 172px;
	border: 1px solid rgb(72, 203, 232);
	border-radius: 3px;
	padding: 9px;
}
.box_by_capcha {
	position: relative;
}
#input_capcha {
	content: "";
	position: absolute;
	top: 50%;
	right: 0px;
	transform: translateY(-50%);
}
input::-webkit-input-placeholder, #text_message::-webkit-input-placeholder {
	color: rgb(72, 203, 232);
	font-size: 13px;
	margin-left: 9px;
}
.box_for_input_message {
	display: inline-block;
}
#text_message {
	max-width: 416px; 
	width: 416px;
	min-height: 181px;
}
.box_for_input_name, .box_for_input_email, .box_for_input_message, .box_by_button {
	margin-top: 10px;
	margin-bottom: 10px;
}
.code_capcha {
	float: left;
	width: 189px;
	height: 77px;
	border: 1px solid rgb(72, 203, 232);
	background-color: rgb(251, 252, 253);
	border-radius: 5px;
}
#input_capcha {
	float: right;
	margin-top: 24px;
}
.box_by_button {
	margin-top: 20px;
	overflow: hidden;
}
