.content {
	float: right;
	width: 650px;
	min-height: 500px;
	background-color: #EFF3F7;
	border-radius: 6px;
	padding-bottom: 5px;
	margin-bottom: 30px;
}
.header_by_content{
	height: 70px;
	margin-bottom: 10px;
}
.img_add_new_site {
	width: 32px;
  	height: 32px;
  	background-image: url(../img/add_img.png);
  	margin: auto;
  	
 }
 .conainer_by_box_new_site {
 	display: inline-block;
 	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
	background-position: -4px -206px;
 }
 .no-csstransforms .conainer_by_box_new_site {
 	left:57px;
 	top: 40px;
 }
 #link_add_site {
 	display: block;
	color: #3ba8c0;
	width: 100%;
	height: 100%;
	font-size: 13px;
 }
 .box_by_new_site {
 	width: 180px;
  	height: 127px;
  	background-color: #edf8fc;
  	position: relative;
  	display: inline-block;
  	border: dashed 1px rgb(59, 168, 192);
  	border-radius: 6px;
  	margin: 15px;

 }
 .box_by_site_info {
 	display: inline-block;
 	width: 185px;
 }
.wrap_myproject {
	display: inline-block;
	vertical-align: top;
	margin: 14px;
	width: 185px;
 }
.site_image {
	border: 2px rgb(59, 168, 192) solid;
 	border-radius: 6px;
}
.box_by_img_site {
	height: 131px;

}
.background_hover {
	display: none;
	content: "";
	position: absolute;
	width: 185px;
	height: 131px;
	transform: translateY(-139px);
	background-color: rgba(1, 108, 164, 0.749);
 	border-radius: 6px;
	
}
.no-rgba .background_hover {
	background-color: rgb(1, 108, 164);
	margin-top: -134px;
}

.site_name {
	display: inline-block;
 	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
	background-position: -4px -206px;
	border: 2.5px rgb(239, 243, 247) solid;
	border-radius: 4px;
	color: rgb(239, 243, 247);

}
.no-csstransforms .site_name {
	left: 55px;
	top: 52px;
	
}
.background_hover_on {
	display: block; 
}
.box_by_link_and_site_info {
	text-align: center;
	margin: auto;
}
.link_to_site {
	font-size: 13px;
	font-family: "Fira Sans";
	color: rgb(59, 168, 192);
	font-style: italic;

}
.info_by_site_string {
	display: block;
	font-size: 15px;
	color: rgb(74, 84, 93);
}
/** POPUP */
#new_project {
	display: none;
}
#wrapper_by_popup {
	width: 400px;
	margin: auto;
	background-color: rgb(239, 243, 247);
	box-shadow: 0px 4px 6.86px 0.14px rgba(13, 16, 7, 0.29);
	border-radius: 4px;
	padding-bottom: 15px;
	margin-bottom: 30px;
}
.header_by_popup {
	height: 50px;
	border-radius: 6px 6px 0px 0px;
	background-image: -moz-linear-gradient(top, #48cbe8 0%, #48cbe8 90%, #51daf8 91%,#51daf8 100%);
	background-image: -webkit-linear-gradient(top, #48cbe8 0%, #48cbe8 90%, #51daf8 91%,#51daf8 100%);
	background-image: -ms-linear-gradient(top, #48cbe8 0%, #48cbe8 90%, #51daf8 91%,#51daf8 100%);
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
}
.no-cssgradients .header_by_popup {
	background-color: #48cbe8;
}
.string_by_header {
	font-family: "Fira Sans";
	font-size: 25px;
	font-weight: 300;
	color: rgb(255, 255, 255);
	display: inline-block;
 	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.no-csstransforms .string_by_header, .no-csstransforms .box_by_close {
	top:15px;
}
.box_by_close {
	width: 25px;
 	height: 25px;
	background-image: url(../img/sprite_by_popup.png);
	background-position: -5px -39px;
	background-repeat: no-repeat;
	display: inline-block;
 	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 20px;
	cursor: pointer;
}
.box_by_input_popup {
	margin: auto;
	position: relative;
	margin-top: 10px;
	text-align: left;
	width: 317px;
}
#name_by_project, #URL_by_project, #picture_by_project {
	display: block;
	width: 320px;
  	height: 39px;
	border: 1px rgb(72, 203, 232) solid;
	border-radius: 4px;
	background-color: rgb(255, 255, 255);
	margin:auto;
	padding: 10px 19px 10px 19px;
	color: rgb(72, 203, 232);
	font-size: 15px;
	font-family: "Fira Sans";
	font-weight: 400;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
  	-webkit-box-sizing:border-box;
}
/*Загрузка изображениея*/
.customfile-container * {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
.customfile-wrap {
	width: 327px;
	height: 39px;
  	padding: 0;
  	overflow: hidden;
 }

.customfile-filename,
.customfile-upload { 
  	margin: 0;
  	padding: 0;
    font-family: "Fira Sans";
	font-weight: 400;
	font-size: 15px;
	color: rgb(74, 84, 93);	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
  	-webkit-box-sizing:border-box;
}

.customfile-filename {
  width: 251px;
  height: 39px;
  padding: 0px 19px 0px 19px;
  border: 1px rgb(72, 203, 232) solid;
  border-radius: 4px 0 0 4px;

}
.customfile-filename:focus { 
  outline: none;
}

.customfile-upload {
  display: inline-block;
  width: 70px;
  height: 39px;  
  border: 1px rgb(72, 203, 232) solid;
  border-radius: 0 4px 4px 0;
  margin-left: -1px;
  cursor: pointer;
  vertical-align: top;
  background-color: rgb(72, 203, 232);
  background-image: url(../img/sprite_by_popup.png);
  background-repeat: no-repeat;
  background-position: 11px 2px;

}
.customfile-upload::-moz-focus-inner {
  padding: 0; 
  border: 0;
}
/* конец стиля для инпута загрузки изображения*/
 #description {
	border: solid rgb(72, 203, 232) 1px;
	border-radius: 4px;
	background-color: rgb(251, 252, 253);
	color: rgb(72, 203, 232);
	width: 281px;
	max-width:281px; 
 	height: 109px;
 	display: block;
 	margin: auto;
 	padding: 10px 19px 0px 19px;

}
.box_by_button_popup {
	margin-top: 15px;
 	margin: auto;
 	width: 139px;
	margin-top: 15px;
}
.button_add {
	border:none;
  	overflow: hidden;
  	width: 139px;
 	height: 33px;
	background-color: rgb(72, 203, 232);
	border-radius: 8px;
	color: rgb(246, 246, 246);
	font-size: 19px;
	border-bottom: 2px solid rgb(104, 123, 143);
}
 .button_add:hover{
 	border-bottom: none;
 }
 .button_add:active {
 	border-top: 2px solid rgb(104, 123, 143);
 }
 .server-mes{
	border-radius: 4px;
	border: 1px solid;
	font-size: 12px;
	width: 318px;
	padding: 6px 12px;
	margin-bottom: 6px;	
	display: none;
	box-sizing: border-box;
	margin: auto;
	
}
.error-mes{	
	background-color: #fad2d1;
	border-color: #f97e76;
	color: #f97e76;	
	margin-top: 10px;
}
.success-mes{
	background-color: #b8e1ce;
	border-color: #49bb7b;
	color: #49bb7b;
	margin-top: 10px;
}
.qtip-myclass {
	background-color: rgb(249, 126, 118);
	border-color: rgb(249, 126, 118);
	font-family: 'fira_sansbook';
	color: rgb(255, 255, 255);
	font-size: 13px;
  	height: 30px;
  	box-sizing: border-box;
  	padding-top: 3px;
}
.has-error{
	background-color: rgb(250, 210, 209) !important;
	border-color: rgb(249, 126, 118) !important;
}
.has-success{
	background-color: none;
	border-color: rgb(60, 118, 61);;
}
.my-placeholder {
	color: rgb(72, 203, 232) !important;
	font-size: 15px;
	width: 172px;
	height: 39px;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	font-size: 15px;
	color: rgb(72, 203, 232);	
}
.label_by_input_popup {
	font-family: "Fira Sans";
	font-size: 23px;
	color: rgb(149, 154, 168);
}

/** POPUP END*/
